input {
    border: 1px solid #e1e1e1;
    padding: 0 0 1px 12px;
    border-radius: 4px;
    min-height: 32px;
    transition: all .15s ease-in-out;
    background-color: white;
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    width: 100%;
}

textarea {
  resize: none;
  background-color: #fff;
  border: 1px solid #acacac;
  color: #3b3b3b;
  font-family: inherit;
  font-size: 13px;
  line-height: 1.33;
  padding: 6px;
  border-radius: 3px;
}

fieldset+fieldset {
  margin-top: 8px;
}

.errors {
  color: #f53c3c;
  font-size: 13px;
}

.form-logo {
  font-size: 36px;
  font-weight: 200;
  margin: 16px 0;
}

.form-logo a {
  color: #2d2d2d;
}

.form-container {
  width: 412px;
  margin: auto;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  width: 100%;
}

.grid_1:last-of-type {
  padding-right: 0;
}

.grid_1 {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-right: 12px;
}

.row {
  margin: 16px 0;
}

input:hover {
  border-color: #c2c2c2;
  color: #c2c2c2;
}

textarea:focus {
  border-color: #1473e6;
  // color: inherit;
}

input:focus {
  border-color: #1473e6;
  color: inherit;
}

::placeholder {
  font-style: italic;
  font-weight: 300;
}

.demo {
  font-size: 10px;
  margin-top: 20px;
  color: #8e8e8e;
  cursor: pointer;
  text-transform: uppercase;
}
