.primary-nav {
  height: 60px;
  background: #191919;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 999;
  padding-right: 30px;
}

.link {
  color: #a4a4a4;
  font-weight: bold;
  font-size: 15px;
  transition-duration: .1s;
  transition-property: color;
  transition-timing-function: linear;
}

.link:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.nav-logo {
  color: white;
  font-weight: 900;
  font-size: 26px;
  margin-right: 30px;
  margin-left: 30px;
}

.menu-item {
  margin: 0 10px;
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.session-actions {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github {
  font-weight: 400;
}

.user-profile-action .tooltip {
  top: 0px !important ;
  right: -43px !important;
}

.user-profile-action .tooltip:before {
  right: 15px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  position: absolute;
  border-bottom: calc(6px + 2px) solid #fff;
  border-top: 0;
  bottom: auto;
  top: -7px;
  transform: translateX(-50%);
}

.user-profile-action:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition-property: visibility opacity;
  transition-duration: 0s 0.25s;
  transition-delay: 0s;
}

.user-profile-action .tooltip {
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(25,25,25,0.3);
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  background-color: white;
  position: absolute;
  right: -14px;
  left: auto;
  top: 0px;
}

.user-profile-action .tooltip-container:after {
  display: none;
}

.tooltip .profile {
  padding: 10px 20px 20px;
  width: 280px;
  border-bottom: 1px solid #e8e8e8;
  display: block;
  margin: 0 -10px 10px;
}

.profile .name {
  font-weight: bold;
  font-size: 18px;
}

.profile .email {
  color: dimgray;
  font-size: 13px;
}

.tooltip .profile span {
  display: inline-block;
}

.avatar.thumb-med {
  height: 65px;
  width: 65px;
  margin-right: 14px;
  border-radius: 50%;
  float: left;
}

.main-menu {
  margin: 0 auto;
  text-align: center;
  width: calc(100% - 500px);
  display: block;
}

.profile-submenu {
  padding: 10px 20px;
}
.sign-out-button {
  width: calc(100% + 20px);
  text-align: left;
  padding: 5px 10px 5px 20px;
  color: dimgray;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 14px;
  svg {
    font-size: 20px;
    width: auto;
    height: 26px;
    margin-right: 6px;
    margin-bottom: 2px; 
  }
}

.sign-out-button:hover {
  transition-duration: .1s;
  transition-property: color;
  transition-timing-function: linear;
  background-color: #f2f2f2;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}
