html {
  color: #4b4b4b;
}

body {
  background: #f9f9f9;
  font-size: 14px;
  font-weight: normal;
}

h1 {
  display: block;
  font-weight: bold;
  color: inherit;
}

a {
  color: #0064dc;
}

.page-action {
  // this works for h1 in form
  color: #4b4b4b;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
}

.site-content {
  margin-top: 60px;
  padding: 50px;
}

.project-gallery-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.button__container {
  background: #0057ff;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 14px;
  // color: #fff;
  padding: 6px 15px 7px;
  line-height: 1.25;
  // font-weight: 400;
  transition-duration: 300ms;
  transition-property: background, color;
  transition-timing-function: linear;
}

.form-button {
  color: #fff;
  font-weight: 600;
}

.button__container:hover {
  background: #003ecb;
}

.avatar.thumb-small {
  padding: 15px 0;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  width: 30px;
}

.tooltip {
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(25,25,25,0.3);
  transition: visibility 0s linear .25s, opacity .25s linear;
  visibility: hidden;
  padding: 10px;
}

.tooltip .owner {
  height: 20px;
  margin-bottom: 5px;
}

.tooltip .owner:last-child{
  margin-bottom: none;
}

.owners:hover .tooltip {
  visibility: visible;
}
