html {
  background: #191919;
}

* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-size: 14px;
  font-weight: normal;
  // height: 100vh;
}

h1 {
  display: block;
  font-weight: bold;
  color: inherit;
}

a {
  color: #0064dc;
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.page-action {
  // this applies to h1 in form
  color: #4b4b4b;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
}

.site-content {
  margin-top: 60px;
  padding: 50px;
}

.project-gallery-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.button__container {

  background: #0057ff;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 6px 15px 7px;
  line-height: 1.25;
  transition-duration: 300ms;
  transition-property: background, color;
  transition-timing-function: linear;
}


.form-button {
  color: #fff;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  text-align: center;
}

.button-small {
  font-size: 12px;
  padding: 4px 15px;
}

.avatar-image {
  border-radius: 50%;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.thanks {
  background: #fff;
  border: 1px solid #e8e8e8;
}

.thanks .form-button {
  color: #191919;
}

.button__container.thanks:hover {
  background: #F1F1FB;
}
