html {
  background: #191919;
}

body {
  background: #f9f9f9;
  font-size: 14px;
  font-weight: normal;
}

h1 {
  display: block;
  font-weight: bold;
  color: inherit;
}

a {
  color: #0064dc;
}

.page-action {
  // this works for h1 in form
  color: #4b4b4b;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
}

.site-content {
  margin-top: 60px;
  padding: 50px;
}

.project-gallery-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.button__container {
  background: #0057ff;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 6px 15px 7px;
  line-height: 1.25;
  transition-duration: 300ms;
  transition-property: background, color;
  transition-timing-function: linear;
}

.form-button {
  color: #fff;
  font-weight: 600;
}
