.project-container {

  background: #F9F9F9;



  .image-module {
    width: 100%;
    // height: 400px !important;
  }

  .image {
    height: 100% !important;
  }

  .text-module {
    padding-right: 7%;
    padding-left: 7%;
    min-height: 15px;
  }

  .text-module {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .text-module + .text-module {
    padding-top: 0px;
    padding-bottom: 20px;
  }

}
