
.projects-grid {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
}

body.ReactModal__Body--open {
  overflow-y: hidden;
  position: fixed;
}

.modules-loading {
  position: relative;
  margin-right: 280px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(10, 10, 10, .2);
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 2px rgba(10, 10, 10, .2);
  z-index: 1000;
}

.modal-wrap {
  margin-top: 30px;
  min-height: 600px;
}

.project-sidebar {
  width: 280px;
  height: 100%;
  border-radius: 0 3px 3px 0;
  right: 0;
  top: 0;
  background: #fafafa;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}

.project-info {
  width: 280px;
}

.project-detail-block {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  clear: left;
  float: left;
  width: 100%;
}

.project {
  margin-right: 280px;
}

.project-container {
  margin-right: 280px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  border-radius: 3px 0 0;
}

.stickycontainer {
  height: 0px;
  width: 100%;
}

.spill {
  height: 300px;
  width: 100%;
  background: red;
  position: absolute;
}

.project-bottom {
  background: #fafafa;
  border-radius: 0 0 0 3px;
  padding-top: 8%;
  padding-bottom: 8%;
  min-height: 325px;
}
.bottom-inner {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 750px;
}
