
.projects-grid {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
}

body.ReactModal__Body--open {
  overflow-y: hidden;
  position: fixed;
}

ReactModal__Overlay ReactModal__Overlay--after-open {
  // padding-left: 50px;
  // padding-right: 50px;
}

.project-module {
  height: 300px;
  width: 100%;
  background: gray;
  border: 1px solid black;
}

.modal-wrap {
  margin-top: 30px;
  min-height: 600px;
}

.project-sidebar {
  width: 280px;
  height: 100%;
  border-radius: 0 3px 3px 0;
  right: 0;
  top: 0;
  background: #fafafa;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}

.project-info {
  // height: 400px;
  width: 280px;
  // background: red;
  // position: -webkit-sticky;
  // position: absolute;

}

.project-detail-block {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  clear: left;
  float: left;
  width: 100%;
}

.project {
  margin-right: 280px;
}

.project-container {
  margin-right: 280px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.stickycontainer {
  height: 0px;
  width: 100%;
}

.spill {
  height: 300px;
  width: 100%;
  background: red;
  position: absolute;
}
