.project-container {

  background: #c6c6c6;

  .image-module {
    width: 100%;
    // height: 400px !important;
  }

  .image {
    height: 100% !important;
  }

  .text-module {
    margin: 15px auto 0px;
    padding-right: 7%;
    padding-left: 7%;
    min-height: 15px;
  }

  .text-module:first-child{
    padding-top: 80px;
  }


}
