.project-card {
  background: #fff;
  border-radius: 5px 5px 3px 3px;
  color: #191919;
  margin: 0 20px 20px 0;
  min-height: 300px;
  text-align: left;
  width: 202px;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
  cursor: pointer;
}

.flex-spacer {
  width: 202px;
  height: 0px !important;
  margin-right: 20px;
}

@media (max-width: 1181px) and (min-width: 960px) {
  .projects-grid > div:nth-child(4n) {
      margin-right: 0;
  }
}

@media (max-width: 959px) and (min-width: 738px) {
  .projects-grid > div:nth-child(3n) {
      margin-right: 0;
  }
}

@media (max-width: 737px) and (min-width: 604px) {
  .projects-grid > div:nth-child(2n) {
      margin-right: 0;
  }
}

.project-card .thumb {
  background: lightgray;
  height: 158px;
  transition: filter 500ms ease-in-out;
  background-color: lightgray;
  border-radius: 3px 3px 0 0;
}

.project-card .thumb:hover {
  filter: brightness(0.8);
}

.project-card .details {
  padding: 7px 10px 0;
}

.project-card .title {
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  margin-bottom: 9px;
  overflow: hidden;
  display: block;
}

.project-card .title:hover {
  text-decoration: underline;
}

.project-card .owners {
  height: 36px;
}

.project-card a {
  color: inherit !important;
}

.avatar.thumb-small {
  padding: 15px 0;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  width: 30px;
}

.button__container:hover {
  background: #003ecb;
  transition-duration: 300ms;
  cursor: pointer;
}

.owners {
  position: relative;
  font-size: 13px;
}

.owners .tooltip {
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(25,25,25,0.3);
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  background-color: white;
  position: absolute;
  max-width: 155px;
  right: -10px;
  left: auto;
  top: 30px;
}

.tooltip-container {
  position: relative;
  left: auto;
}
.tooltip-container:after {
  content: '';
  display: inline-block;
  margin-left: 6px;
  position: relative;
  top: -1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #191919;
  height: 0;
  width: 0;
}

.tooltip .owner {
  height: 20px;
  margin-bottom: 5px;
  display: flex;
  white-space:nowrap;
}

.tooltip .owner:hover {
  text-decoration: underline;
}

.owner:last-child {
  margin-bottom: none;
}

.owners:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition-property: visibility opacity;
  transition-duration: 0s 0.25s;
  transition-delay: 0s;
}

.owner-image-container {
  margin-right: 6px;
}

.owner-image {
  height: 18px;
  width: 18px;
  background: gray;
  border-radius: 50%;
}

.owners:after {
  background-color: #ccc;
  bottom: 5px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 10px;
}

.fields {
  height: 23px;
}

.fields-list {
  margin: 2px 0 6px;
}

.field {
  font-size: 11px; 
}
