.project-sidebar {
  border-left: 1px solid #e8e8e8;
  border-radius: 0 3px 3px 0;

  .owners .name {
    font-size: 16px;
  }

  .owners {
    font-size: 16px;
    font-weight: bold;
    z-index: 100;
  }

  .sidebar.tooltip {
    font-size: 13px;
    font-weight: normal;
    top: 25px;
  }

  .title {
    font-weight: bold;
    font-size: 16px;
    word-wrap: break-word;
    margin-top: -4px;
  }

  .menu-item {
    margin: 0;
  }

  .owner-actions {
    margin-top: 5px;
    display: inline-block;
  }

  .owner-image.medium {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
  }

  .owners:after {
    display: none;
  }

  .fields {
    margin-top: 2px;
    color: dimgray;
    font-size: 13px;
    line-height: 18px;
  }

  .stats {
    margin-top: 6px;
    border-top: none;
  }

  .stats > span {
    margin-right: 10px;
    color: dimgray;
    line-height: 20px;
    height: 20px;
    font-weight: normal;
  }

  .stats span svg {
    content: "";
    color: dimgray;
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  .published {
    margin-top: 14px;
    font-size: 11px;
    color: #a4a4a4;
  }

  .button__container {
    display: block;
  }

  .appreciate {
    text-align: center;
  }
}
