.project-sidebar {

  .owners-block {
    // font-weight: bold;
    // font-size: 16px;
  }

  .owners .name {
    font-size: 16px;
  }

  .owners {
    font-size: 16px;
    font-weight: bold;
    z-index: 100;
  }

  .sidebar.tooltip {
    font-size: 13px;
    font-weight: normal;
    top: 25px; 
  }


  .title {
    font-weight: bold;
    font-size: 16px;
    word-wrap: break-word;
    margin-top: -4px;
  }

  .menu-item {
    margin: 0px;
  }

  .owner-actions {
    margin-top: 5px;
    display: inline-block;
  }

  .owner-image.medium {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
  }

  .owners:after {
    display: none;
  }

  .fields {
    margin-top: 2px;
    color: dimgray;
    font-size: 13px;
    line-height: 18px;
  }

  .stats {
    margin-top: 6px;
  }

  .stats > span {
    margin-right: 6px;
    color: dimgray;
    line-height: 20px;
    height: 20px;
  }

  .views:before {
    content: "|||||";
    color: dimgray;
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 3px;
  }

  .likes:before {
    content: "|||||";
    color: dimgray;
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 3px;
  }
  .comments:before {
    content: "|||||";
    color: dimgray;
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 3px;
  }

  .published {
    margin-top: 14px;
    font-size: 11px;
    color: #a4a4a4;
  }

  .appreciate {
    text-align: center;
  }



}
